<h2>Wardrobes</h2>
<div class='wardrobe_show'>
  <table class='table'>
  	<tr>
	    <% @post_images.each do |post_image| %>
  		  <div class="flex_test-box">
          <div class="item-list">
            <div class="item">
              <div class="item-image">
                <div class="item-text">
          		    <%= attachment_image_tag post_image, :image %>
  		          </div>
              </div>
    		    </div>
          </div>
        </div>
      <% end %>
      <%= paginate @post_images %>
    	</tr>
    	<br></br>
        <td><%= link_to @wardrobe.title, wardrobe_path(@wardrobe) %></td>
        <td><%= @wardrobe.body %></td>
        <td class="favorite-btn"><%= render "favorites/favorite-btn", wardrobe: @wardrobe %></td>

        <% if @wardrobe.user == current_user %>
          <td><%= link_to 'Edit', edit_wardrobe_path(@wardrobe), class: "btn btn-sm btn-success edit_wardrobe_#{@wardrobe.id}" %> |</td>
          <td><%= link_to 'Destroy', wardrobe_path(@wardrobe), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_wardrobe_#{@wardrobe.id}"%> |</td>
          <td><%= link_to 'Back', wardrobes_path, class: "back" %></td>
        <% end %>
    </table>
</div>
      <%= render 'wardrobes/comment', wardrobe: @wardrobe,wardrobe_comment: @wardrobe_comment%>